<section>
    <div class="container mt-4 ">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center"> Add Product</h2>
                <form action="/admin/add-product/" method="POST" enctype="multipart/form-data" >
                     <label for="">Name</label>
                     <input type="text" class="form-control" name="Name">

                     <label for="">Category</label>
                     <input  type="text" class="form-control" name="Category">
                     
                     
                           <label for="">Price</label>
                     <input type="text" class="form-control" name="Price">
                     <br>
                     
<label for="">Type of measurement</label>
                      <input list="browsers" name="measurement">
                            <datalist id="browsers">
                                <option value="Kg">
                                <option value="Liter">
 
                             </datalist>
                      <br>
                              
                     <label for="">Stocks</label>
                     <input type="number" class="form-control" name="Stocks"> 

                     <label for="">Description</label>
                     <input type="text" class="form-control" name="Description">

                     <label for="">Image</label>
                     <input type="file" class="form-control" name="Image" >
                          <button type="submit" class="btn btn-success mt-5">Submit</button>


                </form>
            </div>
        </div>
    </div>
</section>