{{!-- 
 <div class="row">
    <div class="container mt-5   ">
        <div style="width:30rem" class="container mt-2 pl-0 ">
             


            <h2 class="text-center">Admin Login </h2>
            
            <form action="/admin" method="POST">
            {{#if loggedErr}}
               <P style="color: red;"> {{loggedErr}}</P>
            {{/if}}

               
                <div class="form-group">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control  " name="email" placeholder="Enter the email">

                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password">

                </div>
             
                <button type="submit" class="btn btn-primary float-right">Login</button>


            </form>
        </div>
    </div>
</div> 


 --}}
 <section >
     <div class="row" > 
        <div class=" col-md-6">
            <div class="card"> 
                <center>
                <form class="box" action="/admin" method="POST"  > 
                 {{#if loggedErr}}
               <P style="color: red;"> {{loggedErr}}</P>
            {{/if}}
                    <h1>Admin Login</h1>
                    <p class="text-muted"> Please enter your loginmail and password!</p> 
                    <input type="text" name="email" placeholder="UserMail"> 
                    <input type="password" name="password" placeholder="Password"> 
                    <input type="submit" name="" value="Login" >
                    
                </form>
                </center>
            </div>
        </div>
    </div>
 </section>
    

<style>
    body {
     
     
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(90deg, #b92b27, #1565c0);
    overflow-x: hidden;
    background-image: url(https://images.unsplash.com/photo-1581264669997-3f222f331aaa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VwZXJtYXJrZXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
   
    
   
    background: #1B2631;
   
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
    margin-left: 300px;
   
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}










</style>
