  <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:3000/admin">Admin Panel</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {{!-- <li class="nav-item active">
                        <a class="nav-link" href="/adminval/product">All Products <span class="sr-only">(current)</span></a>
                    </li> --}}
{{#if admin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-all-order">All Orders</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/view-users">All Users</a>
                    </li>
                   {{/if}}
                </ul>
                <div class="dropdown " >
                <button class="btn btn-outline-success dropdown-toggle mr-4" type="button" id="dropdownMenuButton" style="outline-color: black;"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if admin}}
                     <i class="fa fa-user"></i>
                    {{admin.email}}
                    {{else}}
                    <i class="fa fa-user"></i>
                    User Account
                    {{/if}}

                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#if admin}}
                    <a class="dropdown-item " href="http://localhost:3000/admin/logoutadmin">Logout</a>

                    {{else}}
                    <a class="dropdown-item  " href="/"><i class="fa fa-sign-in"></i> Login</a>

                    {{/if}}

                </div>
            </div>
            </div>
        </nav>
    </header>