    <div class="container-fluid mt-5   ">
        <div style="width:30rem" class="container mt-2 pl-0 ">
<div class="row">


  <div class="col-md-6 check2">
            <h2  class="text-center"> Create New Account </h2>
            <form action="/signup" method="POST">
                <div class="form-group" >
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="Name" placeholder="Enter your name">

                </div>
                <div class="form-group">
                    <label for="">E-mail</label>
                    <input  type="email" class="form-control  " name="Email" placeholder="Enter the email"  >

                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Enter Password">

                </div>
                </div>
                 <div class="col-md-6">
              
                    <div class="checkout">
                          <h2>Enter Delivary Details</h2>
                        <label for="">Address</label>
                        <input type="text" class="form-control" id="Address" name="Address"
                            placeholder="Enter your address">
                        <label for="">PIN </label>
                        <input type="text" class="form-control" id="Pin" name="Pin" placeholder="Enter your PIN">
                        <label for="">Mobile </label>
                        <input type="text" class="form-control" id="Mobile" name="Mobile"
                            placeholder="Enter your mobile">
</div>
<div class="mt-5">
    <a href="/login">Already have account?</a>
                <button type="submit" class="btn btn-primary float-right">Login</button>

</div>
                


            </form>
        </div>
    </div>
</div>
<style>
    .checkout {
        border: 5px solid;
        border-radius: 50px;
        padding: 30px;
        height: 300px;
        width: 400px;
        border-style: outset;
    }
    .check2 {
    
        border: 5px solid;
        border-radius: 50px;
        padding: 10px;
        height: 400px;
        width: 550px;
        border-style: outset;
    }
</style>